@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap");
/* Resets */
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: #10182f;
  background: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Muli', sans-serif;
  color: #f4f4f4;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
}

a {
  font-family: 'Muli', sans-serif;
  color: #f4f4f4;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.bg-primary {
  background: #10182f;
  color: #ffffff;
}

.page-wrapper {
  width: 100%;
  background: #f4f4f4;
}

.container {
  max-width: 100vw;
  width: 100vw;
  margin: auto;
  padding: 0;
}

section {
  height: 100vh;
  background: #10182f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section h1 {
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

section > p {
  color: #ffffff;
  letter-spacing: 2px;
  margin: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

section > p:nth-of-type(2) {
  font-size: 0.7rem;
  margin-top: -2rem;
}

section button {
  border: none;
  background: #bcc7e8;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  border-radius: 10px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

section button:before {
  content: '';
  position: absolute;
  height: 110%;
  width: 103%;
  background: #ffffff;
  z-index: -1;
  top: -10%;
  left: -3%;
  border-radius: 15px;
  border: 3px solid #bcc7e8;
  background: transparent;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

section button:hover, section button:focus {
  outline: none;
  border: none;
}

section button:hover::before, section button:focus:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

section #modal {
  position: fixed;
  background: #ffffff;
  height: 90%;
  width: 90%;
  max-width: 1058px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
}

section #modal.modal-open {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

section #modal.modal-close {
  margin-top: -100px;
  opacity: 0;
  visibility: hidden;
}

section #modal .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

section #modal .content-wrapper::-webkit-scrollbar {
  /* width */
  background: #ffffff;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

section #modal .content-wrapper::-webkit-scrollbar-track {
  background: #ffffff;
  width: 3px;
}

section #modal .content-wrapper::-webkit-scrollbar-thumb {
  background: #cfd7ef;
  border-radius: 10px;
  border: 4px solid #fff;
}

section #modal .content-wrapper::-webkit-scrollbar-thumb:hover {
  background: #bcc7e8;
}

section #modal .content-wrapper * {
  color: #10182f;
}

section #modal .content-wrapper .modal-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

section #modal .content-wrapper .modal-subtitle {
  font-size: 0.9rem;
  text-transform: initial;
  font-weight: 600;
  margin-bottom: 3rem;
}

section #modal .content-wrapper .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem 6rem;
}

section #modal .content-wrapper .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section #modal .content-wrapper .list-item-icon {
  margin-right: 1.3rem;
}

section #modal .content-wrapper .list-item-icon i {
  background: #f0f2fb;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: #273587;
}

section #modal .content-wrapper .list-item-name {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

section #modal .content-wrapper .list-item-name svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

section #modal .content-wrapper .list-item-description {
  font-size: 1rem;
}

section #modal .content-wrapper .cta {
  margin-top: 2rem;
}

section #modal .content-wrapper .cta button {
  border-radius: 5px;
  background: #10182f;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  font-weight: 500;
}

section #modal .content-wrapper .cta button::before {
  display: none;
}
/*# sourceMappingURL=main.css.map */