@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap');

$primary-color: #10182f;
$accent-color: #20c792;
$page-width: 100vw;
$light: #f4f4f4;
$white: #ffffff;

/* Resets */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: $primary-color;
  background: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Muli', sans-serif;
  color: $light;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
}

a {
  font-family: 'Muli', sans-serif;
  color: $light;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.bg-primary {
  background: $primary-color;
  color: $white;
}

.page-wrapper {
  width: 100%;
  background: $light;
}

.container {
  max-width: $page-width;
  width: $page-width;
  margin: auto;
  padding: 0;
}

// Main Styling
section {
  height: 100vh;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $white;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  & > p {
    color: $white;
    letter-spacing: 2px;
    margin: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }

  & > p:nth-of-type(2) {
    font-size: 0.7rem;
    margin-top: -2rem;
  }

  button {
    border: none;
    background: lighten($color: $primary-color, $amount: 70);
    padding: 1rem 3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: 700;
    position: relative;
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      height: 110%;
      width: 103%;
      background: $white;
      z-index: -1;
      top: -10%;
      left: -3%;
      border-radius: 15px;
      border: 3px solid lighten($color: $primary-color, $amount: 70);
      background: transparent;
      transform: scale(0.8);
      transition: 0.25s;
    }

    &:hover,
    &:focus {
      outline: none;
      border: none;
    }

    &:hover::before,
    &:focus:before {
      transform: scale(1);
    }
  }

  #modal {
    position: fixed;
    background: $white;
    height: 90%;
    width: 90%;
    max-width: 1058px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 100;

    &.modal-open {
      margin-top: 0px;
      opacity: 1;
      visibility: visible;
    }
    &.modal-close {
      margin-top: -100px;
      opacity: 0;
      visibility: hidden;
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4rem 4rem;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
        /* width */
        // width: 10px;
        background: #ffffff;

        /* Track */
        &-track {
          background: #ffffff;
          width: 3px;
        }

        /* Handle */
        &-thumb {
          background: lighten($color: $primary-color, $amount: 75);
          border-radius: 10px;
          border: 4px solid #fff;
        }

        /* Handle on hover */
        &-thumb:hover {
          background: lighten($color: $primary-color, $amount: 70);
        }
      }

      * {
        color: $primary-color;
      }

      .modal-title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }

      .modal-subtitle {
        font-size: 0.9rem;
        text-transform: initial;
        font-weight: 600;
        margin-bottom: 3rem;
      }

      .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.5rem 6rem;

        &-item {
          display: flex;

          &-icon {
            margin-right: 1.3rem;

            i {
              background: #f0f2fb;
              border-radius: 50%;
              width: 80px;
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              color: #273587;
            }
          }

          &-name {
            font-size: 1.2rem;
            padding-top: 0.5rem;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            svg {
              transform: scale(0.7);
            }
          }

          &-description {
            font-size: 1rem;
          }
        }
      }

      .cta {
        margin-top: 2rem;

        button {
          border-radius: 5px;
          background: $primary-color;
          color: $white;
          padding: 0.75rem 1.5rem;
          font-size: 0.9rem;
          letter-spacing: 1.2px;
          font-weight: 500;

          &::before {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #modal {
    .content-wrapper {
      .list {
        grid-template-columns: 1fr !important;
      }
    }
  }
}
