@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700,800&display=swap');

$primary-color: #10182f;
$accent-color: #20c792;
$page-width: 1297px;
$dark: #242531;
$light: #f4f4f4;
$white: #ffffff;

//------------------------------
// Resets
//------------------------------
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: $dark;
  background: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
}

a {
  font-family: 'Muli', sans-serif;
  color: $dark;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

//------------------------------
/* Utilities */
//------------------------------
.bg-primary {
  background: $primary-color;
  color: $white;
}

.bg-dark {
  background: $dark;
  color: $white;
}

.page-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  // max-width: $page-width;
  // width: $page-width;
  padding: 0 2rem;
  margin: auto;
}

//------------------------------
// Main Styling
//------------------------------
/* Main Header */
#main-header {
  height: 10vh;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav ul {
      display: flex;

      li a {
        font-size: 1rem;
        font-weight: 400;
        margin-right: 1.5rem;
        color: $primary-color;

        &.current {
          font-weight: 700;
        }
      }
    }

    div {
      display: flex;
      align-items: center;

      a {
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border: 1px solid $primary-color;
        border-radius: 50px;
        color: $primary-color;
        font-weight: 700;
      }

      .profile-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $accent-color;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}

// Main Content
#projects-main {
  height: 90vh;
  padding-bottom: 2rem;

  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1.5rem;
    height: 100%;
  }

  .content-l {
    height: 100%;

    aside {
      height: calc(90vh - 2rem);
      padding: 1rem;
      border-radius: 25px;

      .aside-wrapper {
        padding: 1rem;
        height: 100%;
        width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          /* width */
          background: transparent;

          /* Track */
          &-track {
            background: transparent;
            width: 3px;
          }

          /* Handle */
          &-thumb {
            background: lighten($color: $dark, $amount: 20);
            border-radius: 10px;
            border: 4px solid $dark;
          }

          /* Handle on hover */
          &-thumb:hover {
            background: lighten($color: $primary-color, $amount: 70);
          }
        }
      }

      h3 {
        text-transform: uppercase;
        font-size: 0.9rem;
        color: darken($color: $white, $amount: 30);
        margin-bottom: 1rem;
        letter-spacing: 1.2px;
      }

      ul {
        min-height: 50%;
        padding-bottom: 2rem;

        li {
          a {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 0.5rem 0;
            font-size: 0.85rem;
            color: $light;

            .bullet {
              display: block;
              width: 7px;
              height: 7px;
              background: $white;
              margin-right: 0.5rem;
              border-radius: 50%;
            }
          }

          &:last-child {
            .bullet {
              background: transparent;
            }

            a {
              color: #58aeff;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: flex-start;

              i {
                font-size: 0.8rem;
                color: #58aeff;
                margin-left: 0.5rem;
              }
            }
          }
        }
      }

      .card {
        margin-top: 1.5rem;
        background: lighten($color: $dark, $amount: 15);
        padding: 1rem;
        border-radius: 15px;

        &-title {
          padding-bottom: 1rem;
        }

        &-body {
          p {
            margin-bottom: 1rem;
            color: $light;
            font-size: 0.9rem;
            line-height: 1.6;
          }
        }

        a {
          width: 100%;
          font-weight: 700;
          display: inline-block;
          padding: 1rem 2rem;
          text-align: center;
          background: $light;
          border-radius: 15px;
          transition: 0.5s;

          &:hover {
            background: darken($color: $light, $amount: 15);
          }
        }
      }
    }
  }

  .content-r {
    height: 90vh;
    width: 100%;
    padding-bottom: 2rem;

    .page-title {
      height: 5%;
      font-size: 1.5rem;
      font-weight: 600;
      border-bottom: 1px solid $light;
    }

    .projects {
      height: 90%;
      min-height: 90%;
      overflow: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        /* width */
        background: transparent;

        /* Track */
        &-track {
          background: transparent;
          width: 3px;
        }

        /* Handle */
        &-thumb {
          background: darken($color: $light, $amount: 15);
          border-radius: 10px;
          border: 4px solid $light;
        }

        /* Handle on hover */
        &-thumb:hover {
          background: darken($color: $light, $amount: 20);
        }
      }

      .project-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        grid-gap: 2rem 2.5rem;
      }

      .project-item {
        .card {
          height: 110px;
          width: 110px;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 0.5rem;
          padding: 1rem;
          background: #20c792;
        }

        .initials {
          font-size: 2.5rem;
          font-weight: 800;
          color: $white;
        }

        .name {
          text-align: center;
          font-weight: 600;
          font-size: 0.8rem;
          color: $dark;
        }
      }

      .add-project-btn {
        a {
          height: 110px;
          width: 110px;
          border-radius: 25px;
          border: 1px solid lighten($color: $dark, $amount: 65);
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            fill: lighten($color: $dark, $amount: 35);
          }
        }
      }

      .panel {
        padding: 1rem 0;
      }
    }

    .footer {
      height: 5%;
      width: 100%;
      border-top: 1px solid $light;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      ul {
        height: 100%;
        display: flex;

        li {
          height: 100%;
          display: flex;
          text-align: center;
          align-items: center;
        }

        a {
          margin-right: 1rem;
          color: $dark;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
