@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap');

$dark-color: #2e2e2e;
$accent-color: #20c792;
$page-width: 1012px;
$light: #f4f4f4;
$white: #ffffff;

/* Resets */
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Muli', sans-serif;
  color: $dark-color;
  background: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Muli', sans-serif;
  color: $dark-color;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
}

a {
  font-family: 'Muli', sans-serif;
  color: $dark-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.bg-dark {
  background: $dark-color;
  color: $white;
}

.page-wrapper {
  width: 100%;
  background: $light;
}

.container {
  max-width: $page-width;
  width: $page-width;
  margin: auto;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;

  .insights-wrapper {
    width: 100%;
    padding: 4rem;
    background: $white;
    overflow: hidden;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid darken($color: $white, $amount: 10);

    &-img {
      height: 110px;
      width: 110px;
      border-radius: 100%;
    }

    div {
      display: flex;
      align-items: center;

      h1 {
        margin-left: 1rem;
        font-size: 2rem;
        font-weight: bold;
        color: $dark-color;
      }
    }

    a {
      background: $dark-color;
      color: $white;
      display: flex;
      align-items: center;
      padding: 0.75rem 1.5rem;
      font-weight: 500;

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  nav {
    ul {
      display: flex;
      padding: 1rem 0;
      margin-bottom: 1rem;

      li a {
        margin-right: 1.5rem;
        font-weight: 400;
        color: lighten($color: $dark-color, $amount: 20);

        &.current {
          color: $dark-color;
          font-weight: bold;
        }

        &:hover {
          color: $dark-color;
        }
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    div {
      display: flex;
      align-items: center;

      .date {
        margin-right: 0.5rem;
      }
    }
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;

    &-item {
      border: 1px solid darken($color: $white, $amount: 10);
      padding: 1.2rem;
      border-radius: 10px;

      // For card with dark background only
      &.bg-dark {
        & > div {
          &:first-child {
            h4 {
              color: $white;
            }
          }

          &:last-child {
            .count {
              color: $white;
              font-weight: 600;
            }

            a {
              color: darken($color: $white, $amount: 20);
              font-weight: 400;
              font-size: 0.9rem;
              display: flex;
              align-items: center;

              svg {
                transform: scale(0.5);
                path {
                  fill: $white;
                }
              }
            }
          }
        }
      }

      // For all cards
      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-child {
          margin-bottom: 1rem;

          h4 {
            font-weight: 600;
            color: $dark-color;
          }

          div {
            display: flex;
            align-items: center;
            color: $accent-color;
            font-size: 0.85rem;

            svg {
              margin-right: 0.25rem;
            }

            .percentage {
              font-weight: bold;
            }
          }
        }

        &:last-child {
          .count {
            font-size: 1.75rem;
            font-weight: bold;
            color: $dark-color;
          }
        }
      }

      h4 {
        color: $white;
      }
    }
  }
}
