@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

$light: #f4f4f4;
$white: #ffffff;
$primary: #e2e7fa;
$primary-light: #eef1fc;
$primary-dark: #597fe2;
$accent-color: #e94273;
$white: #ffffff;
$medium: #6d7593;
$page-bg: #eef1fc;
$black: #000000;
$dark: #13274f;
$dark-light: #848892;

/* Resets */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $dark;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  color: $black;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: $dark;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1400px;
  margin: auto;
}

.bg-dark {
  background: $dark;
  color: $white;
}

.page-wrapper {
  width: 100%;
  background: $page-bg;

  img {
    position: absolute;
    z-index: 1;

    &.back-bg {
      height: 160px;
      width: 100%;
    }

    &.front-bg {
      height: 140px;
      right: 0;
      width: 90%;
    }
  }
}

// Main Styling
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#home {
  &-main-header {
    .container {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .branding {
        font-weight: 900;
        font-size: 2rem;
      }

      nav ul {
        display: flex;

        li {
          margin-left: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            height: 4px;
            width: 50%;
            border-radius: 25px;
            margin-top: 7px;
          }
        }

        li {
          &.current {
            a {
              color: $dark;
            }

            &::after {
              background: $primary-dark;
            }
          }

          &:hover {
            a {
              color: $dark;
            }
          }
        }

        a {
          font-weight: 600;
          font-size: 0.9rem;
          text-transform: capitalize;
          color: $medium;
        }
      }
    }
  }

  &-showcase {
    width: 100%;

    .container {
      padding: 200px 5rem 5rem 5rem;
      text-align: center;
    }

    .tag-line {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    .lead {
      width: 60%;
      margin: auto;
      line-height: 1.5;
      font-size: 1.2rem;
      margin-bottom: 4rem;
    }

    .platform {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4rem;

      &-item {
        background: $white;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem 4rem;

        & > div {
          width: 80px;
          height: 80px;
          margin-bottom: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 80px;
            height: 80px;
          }
        }

        a {
          font-size: 0.8rem;
          font-weight: 600;
          padding: 0.75rem 0.85rem;
          border: 3px solid $primary;
          margin-bottom: 1rem;
          color: darken($color: $medium, $amount: 7);
          border-radius: 5px;
        }

        .requirement {
          font-size: 0.8rem;
          color: $medium;
        }
      }

      &-item_windows {
        transform: scale(1.1);

        a {
          background: $primary-dark;
          color: $light;
          border-color: $primary-dark;
        }
      }
    }
  }
}

footer {
  background: $primary;
  padding: 0 10rem;

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .item {
      padding: 4rem;

      h3 {
        font-size: 0.9rem;
        color: $dark;
        margin-bottom: 1rem;
        line-height: 1.6;
      }

      p {
        color: $black;
        font-size: 0.9rem;
      }
    }

    .copyright {
      grid-column: 1/4;
      text-align: center;
      padding: 0rem;

      p {
        font-size: 0.85rem;
        padding: 1rem 0 2rem;
        color: $medium;
      }
    }
  }
}
